*.class
/javaNetbeans/BasicWork/target/
/javaNetbeans/IoExceptionReal/IoPackage/nbproject/private/
/javaNetbeans/IoException/IoPackage/nbproject/
/javaNetbeans/IoHandling/nbproject/private/
/javaNetbeans/Basic/build/
/javaNetbeans/Basic/nbproject/private/
/javaNetbeans/Iopackage/nbproject/private/
/javaNetbeans/Practice/build/
/javaNetbeans/Practice/nbproject/private/
/javaNetbeans/IoHandling/build/
/javaNetbeans/FileHandlingPractice/nbproject/private/
/javaNetbeans/BankProject-01/nbproject/private/
/javaNetbeans/Threading/nbproject/private/
/javaNetbeans/BankProject-01/build/
/javaNetbeans/ArrayProgram/nbproject/private/
/javaNetbeans/ArrayProgram/build/
/javaNetbeans/FileHandlingPractice/build/
/javaNetbeans/Assignment/IoPackageAssignment/nbproject/private/
/javaNetbeans/Assignment/IoPackageAssignment/build/
/javaNetbeans/Assignment/Thread/nbproject/private/
/javaNetbeans/Assignment/Thread/build/
/javaNetbeans/Threading/build/
/javaNetbeans/CheckDemo/nbproject/private/
/javaNetbeans/CheckDemo/build/
/javaNetbeans/WrapperClass/nbproject/private/
/javaNetbeans/Bank02/target/
/javaNetbeans/WrapperClass/build/
/javaNetbeans/ArrayListt/nbproject/private/
/javaNetbeans/Collection/nbproject/private/
/javaNetbeans/Collection/build/
/javaNetbeans/CollectionReal/nbproject/private/
/javaNetbeans/CollectionReal/build/
/javaNetbeans/Revesion/nbproject/private/
/javaNetbeans/Revesion/build/
/javaNetbeans/LoopsProgram/nbproject/private/
/javaNetbeans/DataBase/nbproject/private/
/javaNetbeans/LoopPractice/nbproject/private/
/javaNetbeans/LoopPractice/build/
