* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assits/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}


header {
    position: fixed;
    top: -5px;
    left: -5px;
    right: -5px;
    z-index: 100;
}

.offcanvas-header {
    /* border: solid 3px black; */
    background-color: rgb(31, 169, 185);
    color: rgb(227, 221, 221);
}

/* body::after{
    content: "";
    position: inherit;
    top: 33px;
    background-color: black;
    opacity: 0.4;
    z-index: 22;
} */

.main-header {
    /* width: 98vw; */
    /* border: solid 3px black; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 17px;
    color: white;
    background-color: rgb(41, 60, 81);
}

.main-header h5 {
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.main-header h5:hover {
    cursor: pointer;
}

.main-header .humber i {
    font-size: 1.5em;
}

.main-header .humber i:hover {
    cursor: pointer;
}

.offcanvas-body {
    background-color: rgb(31, 169, 185);
    font-size: 10px;
}

.offcanvas-body ul {
    list-style: none;
    /* border: solid 3px red; */
    height: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around !important;
    justify-content: center;
    color: rgb(227, 221, 221);
    font-size: 1.5em;
}

.offcanvas-body ul li:hover {
    cursor: pointer;
    color: white;
}

.offcanvas-body ul li {
    border-bottom: 1px rgb(130, 128, 128) solid;
    width: 90%;
    padding-bottom: 3px;
}

/* =====================================SECTION-01==================================== */
.section-01 {
    height: 100vh;
    width: 98.6vw;
    /* border: solid 2px black; */
    background-color: rgba(0, 0, 0, 0.578);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: relative;
    z-index: -100;
}


.section-01 .main-section-01 {
    height: 50%;
    width: 80%;
    /* border: solid 3px rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-transform: uppercase;
}

.small-div {
    /* border: solid 3px red; */
    height: 290px;
    width: 220px;
    font-size: 2em;
    position: relative;
    z-index: 1000;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-section-01 .small-div>div>h2 {
    opacity: 89;
    font-size: 2.1em;
    font-weight: 600;
    padding-block: 5px;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.main-section-01 .small-div>button {
    padding-inline: 1.1em;
    padding-block: .1em;
    border: none;
    background: rgb(222, 68, 93);
    color: white;
    margin-bottom: 10px;
}

.main-section-01 .small-div button:hover {
    background: brown;
}


.section-01>.main-section-01>.line {
    height: 2px;
    width: 100px;
    background: white;
}


/* ====================================SECTION-02===================================== */
.section-02 {
    height: 90vh;
    width: 98.6vw;
    background-color: rgb(12, 192, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-family: poppins, sans-serif;
}

.main-section-02 {
    height: 80%;
    width: 60%;
    /* border: solid 3px black; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.section-02-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid 2px red; */
    width: 45%;
}

.section-02-div>div {
    height: 60px;
    width: 60px;
    border: solid 3px rgb(63, 63, 63);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-02-div>div>i {
    transform: rotate(-45deg);
    font-size: 4em;
    color: aquamarine;
}

.main-section-02 .line {
    height: 1px;
    width: 90%;
    background-color: rgb(206, 206, 206) !important;
}

.main-section-02 p {
    font-size: 1.5em !important;
    word-spacing: 3px;
    color: whitesmoke;
}

.main-section-02 h2 {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 33px;
}

/* ============================================SECTION-03============================================== */
.section-03 {
    height: 220vh;
    /* border: solid 3px black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: poppins, sans-serif;
}

.main-section-03 {
    height: 100%;
    width: 100%;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
}

.main-section-03 .main-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.33%;
    color: white;
}

.main-section-03 .main-03 div {
    height: 100%;
    width: 50%;
    /* border: solid 2px black; */
}

.main-section-03 .main-03:nth-child(1),
.main-section-03 .main-03:nth-child(3) {
    background-color: rgb(12, 51, 63);
}

.main-section-03 .main-03:nth-child(2) {
    background-color: rgb(22, 64, 77);
}

.main-section-03 .main-03:nth-child(1)>div:nth-child(2),
.main-section-03 .main-03:nth-child(3)>div:nth-child(2) {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.main-section-03 .main-03:nth-child(2)>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
}

.main-section-03 .main-03:nth-child(2)>div:nth-child(2) {
    display: flex;
    justify-content: end;
}

.main-section-03 .main-03 h2 {
    font-size: 3em;
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 35px;
}

.main-section-03 .main-03 p {
    font-size: 1.6em;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.main-section-03 .main-03 img {
    width: 90%;
    height: 100%;
}


/* ======================================SECTION-04============================================ */
.section-04 {
    margin-top: -1px;
    height: 150vh;
    /* border: solid 3px black; */
    display: flex;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(76, 81, 135);
}

.section-04 .main-section-04 {
    width: 90%;
    height: 100%;
    /* border: solid 3px red; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-04 .main-section-04>div:nth-child(1) {
    height: 20%;
    /* border: solid 3px blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.section-04 .main-section-04>div:nth-child(1)>h2 {
    font-size: 2.5em;
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 35px;
}

.section-04 .main-section-04 div:nth-child(1) span {
    display: inline-block;
    height: 1px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.section-04 .main-section-04>div:nth-child(1) {
    font-size: 1.6em;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.section-04 .main-section-04>div:nth-child(2) {
    height: 70%;
    /* border: solid 3px rgb(0, 255, 17); */
}


.section-04 .main-section-04>div:nth-child(2) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.section-04 .main-section-04>div:nth-child(2)>div {
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    /* width: 90%; */
}

.section-04 .main-section-04>div:nth-child(2)>div {
    /* width: 90%; */
}

.section-04 .main-section-04 div:nth-child(2)>.first {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(1),
.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(4),
.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(5) {
    background-color: rgb(92, 100, 186);
}

.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(2),
.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(3),
.section-04 .main-section-04 div:nth-child(2)>.first:nth-child(6) {
    background-color: rgb(66, 70, 116);
}

.section-04 .main-section-04 div:nth-child(2)>.first>div {
    width: 90%;
    height: 70%;
    /* border: solid 2px red; */
    display: flex;
    column-gap: 15px;
}

.section-04 .main-section-04 div:nth-child(2)>.first div:nth-child(2) h2 {
    font-size: 2.2em !important;
    font-weight: 700 !important;
    margin-bottom: 10px;
}

.section-04 .main-section-04 div:nth-child(2)>.first div:nth-child(2) p {
    font-size: 1.6em;
    word-spacing: 1px;
    letter-spacing: 2px;
}



.section-04 .main-section-04 div:nth-child(2) div>div>i {
    color: aqua !important;
    font-size: 2em;
}

/* ==========================================SECTION-05=================================================== */

.section-05 {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.315);
    /* border: solid 3px red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.main-section-05 {
    height: 80%;
    width: 80%;
    /* border: solid 2px black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.main-section-05 div {
    width: 50%;
    /* border: solid 3px red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

}

.main-section-05 div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-05 div h2 {
    font-size: 3.5em !important;
    font-weight: 700 !important;
    margin-bottom: 10px;
}

.main-section-05 div p {
    font-size: 1.6em;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.main-section-05 div button:nth-child(1) {
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(180, 27, 27);
    color: white;
    font-size: 1.5em;
}

.main-section-05 div button:nth-child(2) {
    height: 40px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}

.main-section-05 button:nth-child(1):hover {
    background-color: #eb16168c;
}

.main-section-05 div button:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.205);
}

/* ====================================SECTION-06========================================= */

.section-06 {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.main-section-06 {
    height: 70%;
    width: 70%;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
}

.main-section-06 div ul {
    display: flex;
    list-style: none;
    /* border: solid 3px blue; */
    column-gap: 20px;
    font-size: 2em;
}